body {
	background-color: powderblue;
}
header{
	font-size:100px;
	color:darkred;
	background-color:lemonchiffon
}
div {
	text-align: center;
}
iframe {
	
	border:1px solid black;
	width: 90%;
	height: 700px;
}

a:link {
    color: mediumblue; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color:blueviolet;
    background-color: palegreen;
    text-decoration: none;
}

a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgreen;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}