#uno {
	border: 5px dotted YellowGreen;
	color: midnightblue;
	background-color: wheat;
}
#pa1 {
	border: 5px dashed DarkRed;
	color: CadetBlue;
}
#dos {
	border-color: Violet;
	border: 5px solid Aquamarine;
	color: BlueViolet ;
}
#pa2 {
	border: 10px double Beige;
	color: Black ;
}	
#tres {
	border-color: Teal;
	border: 10px groove LightCoral;
	color: Indigo;
}
#pa3 {
	border: 10px ridge;
	color: DarkBlue  ;
	background-color: DarkGray;
}	
#cuatro {
	border: 10px inset;
	border-color: SeaGreen LightGreen;
	color: Navy  ;
}
#pa4 {
	border: 10px outset;
	color: SaddleBrown;
	background-color: Orange;
}	
