body {
	background-color: powderblue;
}
header{
	font-size:50px;
	color:darkred;
	text-decoration: underline;
}	
h1{
	font-family: verdana;
}
p{
	font-family: courier
}
#uno {
	color: midnightblue;
	background-color: wheat;
}
#pa1 {
	text-align: center;
	color: CadetBlue;
	background-color: DarkRed;
}
#dos {
	color: BlueViolet ;
	background-color: Aquamarine ;
}
#pa2 {
	text-align: left;
	color: Black ;
	background-color: Beige;
}	
#tres {
	color: Indigo;
	background-color: LightCoral ;
}
#pa3 {
	text-align: right;
	color: DarkBlue  ;
	background-color: DarkGray;
}	
#cuatro {
	color: Navy  ;
	background-color: LightGreen;
}
#pa4 {
	text-align: justify;
	color: SaddleBrown;
	background-color: Orange;
}	
